// cardgrid styles for things like documentation
//
@import "./colours.less";
@import "./vars.less";

// variable definitions
//
@cardgrid-transition-speed: 200ms;
@cardgrid-link-wedge-height: 4rem;

// cardgrid layout itself
//
.cardgrid {
  display: grid;
  gap: 1.2rem;
  max-width: 79rem;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  @media only screen and (max-width: 600px) {
    padding: 0.7rem;
  }
  @media only screen and (min-width: 600px) {
    padding: 2rem;
  }
  // set the default row size
  grid-auto-rows: 20rem;
  // then override the first two 
  grid-template-rows: repeat(2, auto);
}

.cardgrid > p {
  grid-column: 1 / -1;
  grid-row: 2;
}

// header styles
//
.cardgrid h1 {
  margin: auto;
  @media only screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
  @media only screen and (min-width: 600px) {
    font-size: 3rem;
  }
  grid-column: 1 / -1;
  grid-row: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.cardgrid h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: @accent-colour;
  padding-bottom: 1rem;
}

// card styles
//
.cardgrid section {
  border-radius: 1rem;
  transition: @cardgrid-transition-speed;
  // It looks like there is a bug when no grayscale is set at all
  // @media only screen and (min-width: 600px) {
  //   filter: grayscale(100%) opacity(0.7);
  // }
  // @media only screen and (max-width: 600px) {
  //   background-color: @highlight;
  // }
  filter: grayscale(100%) opacity(0.7);
  @media only screen and (max-width: 600px) {
    background-color: @highlight;
    filter: grayscale(0%) opacity(1);
  }
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardgrid section:hover {
  filter: grayscale(0%) opacity(1);
  background-color: @highlight;
}

.cardgrid section>* {
  width: 100%;
  display: block;
}

// for documentation section of card
.cardgrid .docs {
  height: 50%;
  border-radius: 1rem 1rem 0 0;
}

.cardgrid .docs>* {
  top: 1rem;
}

// for central gift wrapper
.cardgrid section>*:nth-child(2) {
  // display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: @color-primary-3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.cardgrid section>*:nth-child(2)>* {
  margin: 0 auto;
}

// for source code section of carc
.cardgrid .src {
  height: 50%;
  border-radius: 0 0 1rem 1rem;
}


.cardgrid .src>* {
  bottom: 1rem;
}

.cardgrid .docs>*, .cardgrid .src>* {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.cardgrid .src:hover, .cardgrid .docs:hover {
  color: @accent;
}

// little card documentation of source icon
.cardgrid .docs>*>i, .cardgrid .src>*>i {
  margin-right: 1rem;
  font-size: 1.5rem;
}
