/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-09-15T12:28:28+01:00
 * @Last modified by:   archer
 * @Last modified time: 2020-10-02T17:11:39+01:00
 * @License: please see LICENSE file in project root
 */

// https://css-tricks.com/centering-css-complete-guide/
.centre-vertical-horizontal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.centre-horizontal-inline {
  // inline, inline-block, inline-table, inline-flex
  text-align: center;

}
.centre-horizontal-block {
  margin: 0 auto;

}
.centre-horizontal-multiple {
  display: inline-block;
}
