/**
 * @Author: George Onoufriou <archer>
 * @Date:   2021-11-24T09:42:01+00:00
 * @Last modified by:   archer
 * @Last modified time: 2021-11-24T19:28:59+00:00
 */
/* MIXINS */
// https://coolors.co/004860-184860-487890-183048-7890a8-9a4f00

/* As hex codes */
@color-primary-0: #7890A8;
@color-primary-1: #487890;
@color-primary-2: #004860;	/* Main Primary color */
@color-primary-3: #184860;
@color-primary-4: #183048;

@color-secondary-1-0: #9A4F00;	/* Main Secondary color (1) */
@color-secondary-1-1: #FFF07E;
@color-secondary-1-2: #E9D74F;
@color-secondary-1-3: #AE9B12;
@color-secondary-1-4: #877700;

@color-secondary-2-0: #BC215D;	/* Main Secondary color (2) */
@color-secondary-2-1: #E06F9B;
@color-secondary-2-2: #CA4578;
@color-secondary-2-3: #960F43;
@color-secondary-2-4: #75002D;

/* As RGBa codes */
@rgba-primary-0: rgba(120,144,168,1);
@rgba-primary-1: rgba(72,120,144,1);
@rgba-primary-2: rgba( 0,72,96,1);	/* Main Primary color */
@rgba-primary-3: rgba(24,72,96,1);
@rgba-primary-4: rgba(24,48,72,1);

@rgba-secondary-1-0: rgba(154,79,0,1);	/* Main Secondary color (1) */
@rgba-secondary-1-1: rgba(255,240,126,1);
@rgba-secondary-1-2: rgba(233,215, 79,1);
@rgba-secondary-1-3: rgba(174,155, 18,1);
@rgba-secondary-1-4: rgba(135,119,  0,1);

@rgba-secondary-2-0: rgba(188, 33, 93,1);	/* Main Secondary color (2) */
@rgba-secondary-2-1: rgba(224,111,155,1);
@rgba-secondary-2-2: rgba(202, 69,120,1);
@rgba-secondary-2-3: rgba(150, 15, 67,1);
@rgba-secondary-2-4: rgba(117,  0, 45,1);

// setting some shorthands
//
// @accent-colour: #9A4F00;
@accent-colour: salmon;
@accent: @accent-colour;
@text: @color-primary-0;
@highlight:  @color-primary-4;
