/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-08-30T14:06:33+01:00
 * @Last modified by:   archer
 * @Last modified time: 2021-11-25T14:54:41+00:00
 * @License: please see LICENSE file in project root
 */

/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Roboto Slab', serif; */
@import "./reset.less";
@import "./centre.less";
@import "./nav.less";
@import "./scroll.less";

@import "./vars.less";
@import "./colours.less";
@import "./form.less";
@import "./newspaper.less";
@import "./cardgrid.less";

// note to self use e("/") instead of '/' in things like grid-area definitions

:root {
  font-size: 16px;
}

.title_font {
  font-family: 'Roboto Slab', serif;
}

.main_font {
  font-family: 'Inconsolata', monospace;
}

.alt_font {
  font-family: 'Roboto Slab', serif;
}

html {
  height: 100%;
  color: @color-primary-0;
  background: @color-primary-2;
  // background: radial-gradient(circle, @color-primary-2 0%, @color-primary-3 68%, @color-primary-4 100%);
  // -webkit-box-shadow: inset 0 0 20vmin 5vmin @color-primary-4;
  box-shadow: inset 0 0 50vmin 10vmin @color-primary-4;
  font-family: 'Philosopher', sans-serif;
}

body {
  // color: @color-primary-1;
  // background-color: @color-primary-2;
  height: 100%;
  overflow: hidden;
}

main {
  display: block;
  overflow: auto;
}

// for small screens
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0;
    // making room for navbar at the bottom for small screens
    // so navbar does not cover it
    height: calc(100% - @nav-margin);
  }
}

// for larger screens
@media only screen and (min-width: 600px) {
  main {
    margin-left: @nav-margin;
    margin-bottom: 0;
    height: 100%;
  }
}

a {
  color: @color-primary-1;
  text-decoration: none;
}

canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.landgo {
  width: 50vmin;
  max-width: 500px;
  height: 50vmin;
  max-height: 500px;
}

.text-centre {
  text-align: center;
}

.page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: minmax(8em,15vmin) 1fr;
}

.scroll {
  overflow: auto;
}
