/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-08-30T14:06:33+01:00
 * @Last modified by:   archer
 * @Last modified time: 2020-09-24T12:51:39+01:00
 * @License: please see LICENSE file in project root
 */



@import "./colours.less";

// special submit button styling

input[type=submit] {
  width: 60%;
  margin: 1rem auto;
  display: block;
  border: none;
  color: @text;
  outline: none;
  border: 2px solid @text;
  border-radius: 2px;
  background: none;
  background-color: none;
  cursor: pointer;
  font-size: 1.1rem;
}

input[type=submit]:hover {
  background-color: @highlight;
  // color: @accent;
  color: @color-primary-1;
  border: 2px solid @accent;
}

// centering container for login form

@form-colour: @color-primary-0;

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// form layout

form {
  max-width: 500px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.field {
  width: 100%;
  position: relative;
  border-bottom: 0.1rem dashed @form-colour;
  margin: 4rem auto 1rem;
}

.label {
  color: @form-colour;
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  background: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

// visual validity of form inputs

.input:valid {
  color: yellowgreen;
}

.input:invalid {
  color: orangered;
}

// bottom border animation

.field::after {
  content: "";
  position: relative;
  display: block;
  height: 0.2rem;
  width: 100%;
  background: @accent-colour;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 0.1rem;
}

.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
}

// form label animation

.label {
   z-index: -1;
   position: absolute;
   left: 0;
   top: 1.5rem;
   transform: translateY(-2rem);
   transform-origin: 0%;
   transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
  opacity: 1;
}
