/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-08-30T14:06:33+01:00
 * @Last modified by:   archer
 * @Last modified time: 2021-11-25T14:25:50+00:00
 * @License: please see LICENSE file in project root
 */



@import "./colours.less";
@import "./vars.less";

@navbar-transition-speed: 200ms;

.navbar {
  position: fixed;
  transition: @navbar-transition-speed ease;
}

.navbar-list {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-item {
  width: 100%;
}

// push last item to very bottom of nav
.navbar-item:last-child {
  margin-top: auto;
}

.navbar-link {
  display: flex;
  align-items: center;
  height: @nav-margin;
  text-decoration: none;
  filter: grayscale(100%) opacity(1);
  transition: @navbar-transition-speed;
}

// main logo settings
.navbar img {
  margin: 0 1.5rem;
  max-width: 1.5rem;
}


.navbar-link .fas {
  // min-width: 2rem;
  margin: 0 1.5rem;
  color: @accent-colour;
}

// text adjacent to first element in navbar list
.navbar-item:first-child .navbar-link-text {
  margin-left: 0rem;
}


.navbar-link-text {
  display: none;
  margin-left: 1rem;
}

.navbar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: @color-primary-4;
}

// for small screens
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: @nav-margin;
    background: @color-primary-3;
  }

  .navbar-list {
    flex-direction: row;
  }

  .navbar-link {
    justify-content: center;
    margin: 0 0;
  }
}

// for larger screens
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: @nav-margin;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
    background: @color-primary-3;
  }

  .navbar:hover .navbar-link-text {
    display: block;
    padding-right: 8rem;
  }

}

// rotation keyframes
// https://stackoverflow.com/questions/6410730/css-endless-rotation-animation
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// specifics for settings cog/ the very last item in navbar list
// creating a breakout menu
.navbar-item:last-child:hover {
  width: 100vw;
  left: 0;
  bottom: 0;
  position: absolute;
}

.navbar-item:last-child:hover .fa-cog {
  // transform: rotate(360deg);
  // transition: all 0.3s ease-in-out 0s;
  animation: rotating 2s linear infinite;
}

// the unordered list of settings
.navbar-settings {
  display: none;
}

.navbar-asside-text {
  display: none;
}

.navbar-item:hover .navbar-settings {
  display: flex;
  flex-direction: row;
}

.navbar-item:hover .navbar-asside-text {
  display: block;
}

.navbar-settings>* {
  padding: 0 1rem;
}

.settings-icon {
  font-size: 2rem;
  display: block;
  // margin: 0 auto;
  text-align: center;
}


// active links must come AFTER hover selector
