// gridpage styles any css grid page using cards for content

// per aspera ad astra

@import "./colours.less";
@import "./vars.less";

// // pagegrid styles
// .page-grid {
//   display: grid;
//   gap: 1rem;
//   // grid-template-columns: repeat(auto-fill, minmax(40rem, 75rem))
//   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
// }
//
// //
// .card {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   border: 2px solid @text;
// }
//
// .title-card {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

@newspaper-transition-speed: 200ms;

// text justification
//
.newspaper p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}

// image styling
//
.newspaper section img {
  width: 100%;
}

// newspaper grid structuring
//
.newspaper {
  display: grid;
  gap: 1.2rem;
  max-width: 79rem;
  margin: auto;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  @media only screen and (max-width: 600px) {
    padding: 0.7rem;
  }
  @media only screen and (min-width: 600px) {
    padding: 2rem;
  }
}

.newspaper * {
  margin: auto;
}

// .newspaper > * {
//   padding: 1.2rem;
// }

// newspaper info aside
//
.newspaper aside {
  width: 100%;
  // padding: 0;
  grid-column: 1 / -1;
  grid-row: 2;
  font-size: 1.2rem;
  border: solid @border;
  border-width: @bthick 0;
}

.newspaper aside div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid @border;
  border-width: @bthin 0;
  margin: 0.3rem auto 0.3rem auto;
}

.newspaper aside div * {
  padding: 1rem 1rem 1rem 1rem;
  margin: auto;
}

// header styles
//
.newspaper h1 {
  @media only screen and (max-width: 600px) {
    font-size: 2.5rem;
  }
  @media only screen and (min-width: 600px) {
    font-size: 3rem;
  }
  grid-column: 1 / -1;
  grid-row: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.newspaper h2 {
  @media only screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
  @media only screen and (min-width: 600px) {
    font-size: 2.2rem;
  }
  font-size: 2.2rem;
  font-style: italic;
}

.newspaper h3 {
  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
  @media only screen and (min-width: 600px) {
    font-size: 1.8rem;
  }
  font-weight: bold;
}

// Select and style the first child element of every .newspaper section
// This is always assumed to be a header e.g h1, h2, h3
.newspaper section > *:first-child {
  padding-bottom: 1rem;
  color: @accent-colour;
}
// Footer settings with contact details etc
//
.newspaper footer {
  // padding: 0;
  grid-column: 1 / -1;
  border: solid @border;
  border-width: @bthick 0 0 0;
  width: 100%;
}

.newspaper footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid @border;
  border-width: @bthin 0 0 0;
  margin: 0.3rem auto 0.3rem auto;
}

.newspaper footer div * {
  padding: 1rem 1rem 1rem 1rem;
  margin: auto;
}

// Cells
//
.newspaper section {
  transition: @newspaper-transition-speed;
  @media only screen and (min-width: 600px) {
    filter: grayscale(100%) opacity(0.7);
  }
  @media only screen and (max-width: 600px) {
    padding-bottom: 1rem;
    border-bottom: @bthin solid @border;
  }
  // border-left: @bthin solid @border;
  // border-right: @bthin solid @border;
}

.newspaper section:hover {
  filter: grayscale(0%) opacity(1);
}

// Generic types of content with media query to ensure sizing
//
// @media screen and (min-width: 804px){
  // THIS RELATES TO THE MAX WIDTH AND AUTO COLUMNS SIZE ABOVE!
@media screen and (min-width: 60rem){
  .newspaper .tall {
    grid-row: span 2 / auto; 
  }
  
  .newspaper .wide {
    grid-column: span 2 / auto;
  }
}
