{{define "base"}}
{{/* https://siongui.github.io/2017/02/05/go-template-inheritance-jinja2-extends-include/ */}}
{{/* https://lets-go.alexedwards.net/sample/02.08-html-templating-and-inheritance.html */}}
{{/* https://github.com/gin-gonic/gin/issues/320 */}}
<!doctype html>
<html>
  <head>
    {{template "header" .}}
  </head>
  <body>
    <main>
      {{block "content" .}}{{end}}
    </main>
    {{template "nav" .}}
  </body>
</html>
{{end}}
