{{define "header"}}
<!-- Fix for phone screens and CSS media queries being inconsistent -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- getting our self hosted fonts inconsolata philosopher and roboto -->
<link href="/static/css/philosopher.css" rel="stylesheet">
<link href="/static/css/inconsolata.css" rel="stylesheet">
<link href="/static/css/roboto-slab.css" rel="stylesheet">
<link href="/static/vendor/fontawesome/css/all.css" rel="stylesheet">
<!-- getting our relevant css -->
<link href="/static/css/default_bundle.css" rel="stylesheet">
<!-- getting our most hated javascript scripts-->
<!-- <script src="/static/js/wasm_exec.js"></script> -->
<!-- <script src="/static/js/wasm.js"></script> -->
{{end}}
