{{define "nav"}}
<nav class="navbar">
  <ul class="navbar-list">

    <li class="navbar-item">
      <a href="/" class="navbar-link">
        <img src="static/img/aurelia-aurita.svg" alt="Line-art Aurelia aurita the 'moon jellyfish' particularly focusing on its tendrils an vessels as networks towards inteligence. So much so that it is brain adjacent it style.">
        <span class="navbar-link-text">Home</span>
      </a>
    </li>

    <li class="navbar-item">
      <a href="/login" class="navbar-link">
        <i class="fas fa-user-astronaut"></i>
        <span class="navbar-link-text">Login</span>
      </a>
    </li>

    <li class="navbar-item">
      <a href="/docs" class="navbar-link">
        <i class="fas fa-book-dead"></i>
        <span class="navbar-link-text">Docs</span>
      </a>
    </li>

    <li class="navbar-item">
      <a href="/about" class="navbar-link">
        <i class="fas fa-info-circle"></i>
        <span class="navbar-link-text">About</span>
      </a>
    </li>

    <li class="navbar-item">
      <div class="navbar-link">
        <i class="fas fa-cog"></i>
        <span class="navbar-link-text">Settings</span>
        <ul class="navbar-settings">
          <li>
            <i class="settings-icon fa-solid fa-toggle-off"></i>
            <span>cookies off</span>
          </li>
          <li>
            <i class="settings-icon fa-solid fa-toggle-off"></i>
            <span>trackers off</span>
          </li>
        </ul>
        <p class="navbar-asside-text">Deep Cypher (UK:12989167) Ltd.</p>
      </div>
    </li>

  </ul>
</nav>
{{end}}
