/* inconsolata-200 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-200.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-300 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-300.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-500 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-500.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-600 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-600.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-700 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-800 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-800.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-900 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/inconsolata-v21-vietnamese_latin-ext_latin-900.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
