/* philosopher-regular - vietnamese_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-regular.svg#Philosopher') format('svg'); /* Legacy iOS */
}

/* philosopher-italic - vietnamese_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-italic.svg#Philosopher') format('svg'); /* Legacy iOS */
}

/* philosopher-700 - vietnamese_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700.svg#Philosopher') format('svg'); /* Legacy iOS */
}

/* philosopher-700italic - vietnamese_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-weight: 700;
  src: url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/philosopher-v17-vietnamese_latin_cyrillic-ext_cyrillic-700italic.svg#Philosopher') format('svg'); /* Legacy iOS */
}

