{{ define "about-dc" }}
<article class="newspaper">
  <h1>About DeepCypher</h1>
  <aside>
    <div>
      <p class="date">Friday, 30th January, 2022</p>
      <p class="author">George Onoufriou</p>
      <p class="issue">HTML Article #1</p>
    </div>
  </aside>
  <section class="wide">
    <h2>"We create and provide open-source cryptography and artificial intelligence to solve the hardest problems, privately"</h2>
    <p>Firstly we would like to note that this website is still heavily in development. Things are being rolled out as and when they are ready, so you will see frequent updates to both this page and others.</p>
    <p>DeepCypher is focused on open-source privacy-preserving encrypted deep learning. We produce and contribute to open-source software and the open-source community, almost every day! We believe in Kerckhoffs's principle for all our work, as the best way to encourage/ foster trust, and maintain/ improve the best security practices. We also intend to contribute to scientific research, through published papers once all the basic infrastructure has been completed that we need to support our ongoing needs. We intend to provide our software completely freely to everyone (through the OSLv3 licence), but also offer the option of using our hardware/ platform so that all the painful tasks can be abstracted away to become that much easier.</p>
  </section>
  <section>
    <h3>About our Website</h3>
    <p>DeepCypher.me is a labor of love. While there is still a lot of work that needs to go into it, we have poured our love of computer science into every aspect of it. There are Easter eggs everywhere, one needs only look below the surface.</p>
    <p>DeepCyphers website front end is built with Go (Just like our founders initials), Docker, Kubernetes, GitLab (Git + CI/CD), Gin-Gonic, HTML, LESS, WebAssembly, and as little JavaScript as was humanly possible.</p>
    <p>We use our own baremetal provisioned Kubernetes cluster, which we have proxied through CloudFlare (necessary for online threats). Our cluster architecture is also open-source!</p>
    <p>Our deep learning components use our own Python-FHEz, and soon we hope to use pure Go with our soon to be DarkLantern library, which will enable client side FHE even in WebAssembly!</p>
  </section>
  <section class="wide">
    <h3>About FHE</h3>
    <p>Fully Homomorphic Encryption (FHE) is a relatively new technique and the holy grail of encryption. It allows data to be processed while it is still encrypted!</p>
    <p>Yes you heard that right. Let me say it slightly more specifically, FHE cyphertexts can be used in things like neural networks, as long as the neural networks are purely abelian compatible (addition, and multiplication only). Both we and others have shown this to be possible in a plethora of papers.</p>
    <p>We even have open-source examples showing this for things like Fashion-MNIST (A well known deep learning dataset). The biggest problem we and others in the community are working on is making it more practical, I.E to take less time and resources.</p>
    <p>We believe that another barrier, just as much as computational requirements, is actually expertise. To do FHE usually requires a professional cryptographer. We hope to make this so easy however that you can do it at the click of a button in our website (Or for developers a request to our API).</p>
    <img src="/static/img/fhe.svg" alt="Fully Homomorphic Encryption steps and data flow diagram, showing how data is processed while encrypted and only the origin can decrypt the data."> 
  </section>
  <section class="tall">
    <h3>About Data and Privacy</h3>
    <p>Privacy means something different to different people. Some people do not value their privacy, some people would like privacy but have no knowledge / are not prepared to invest the time into their privacy. Some people go the-whole-nine-yards as the Americans would say.</p>
    <p>Privacy for us means the ability to control your data such that, you alone can choose who to share it with, and thus no one can unconsensually grow the fruit of data. Knowledge.</p>
    <p>Knowledge is used in many many ways, from the basics such as finding / planning your way to the shops, to more complex things like how best to function in our complex society. Clearly knowledge is necessary to be able to conduct certain tasks, we would have some trouble trusting a medical doctor who never went to medical school, and thus does not have that knowledge / understanding.</p>
    <p>In our modern society, we often rely on machines to do a lot of our decision making, this requires giving them lots of data, and thus they can form lots of knowledge. We are seeing these forms of machine learning everywhere. From what you watch, to what you play, to what you worry about and search.</p>
    <p>This has created a quiet catastrophe. We have slowly revealed so much about ourselves to so many different things and people. Some of which we may have trusted, some of which not, and others who have since proven we can no longer trust them.</p>
    <p>This is where we believe Fully Homomorphic Encryption (FHE) can solve our problems. Clearly we cannot turn back the hands of time and take this data back. So how about in future we never give them our data in the first place! But maybe we also want machines to be able to provide us important services. From diagnosis, recommendation, self driving cars/ autonomy, navigation, even going so far as to help in industries like agriculture to grow the best fruits, or provide us with the milk we likely drink. So lets encrypt it, and never give them the secrets, and get the processing done completely privately.</p>
    <p>This applies as much to both normal every day people, as big conglomerates. We have data, we want the fruits of knowledge, but we don't want to give someone else knowledge about us. We want recommended shows on streaming services, but we don't want advertisements based on what we like to watch. We want to know and optimise how many crops we can grow, but we don't want our trade secrets to be revealed. This is in essence zero-knowledge privacy.</p>
  </section>
  <section>
    <h3>About the People</h3>
    <p>Currently the only office-holder is the director, but who works hard to make up for this deficiency in number. We (pluralis majestatis) are computer scientists, cryptographers, academics, and cypherpunks. We want to improve privacy, not only here, but everywhere. We want to ensure that the future of machine learning is a private one, that it is both effective but more-so ethical.</p>
    <p>The founder is an expert in his field, a PhD candidate in computer science, specialising in privacy-preserving encrypted deep learning! He is a VERY strong privacy advocate, cypherpunk, and Linux enthusiast. He really desperately wanted to mention that he uses Archlinux, so please forgive him for his excitement. Just know that the founder is a nerd, who wants to help everyone nerd or not, to have both their metaphorical deep learning cake and privacy too.</p>
  </section>
  <section>
    <h3>Deep Cypher the Company</h3>
    <p>Deep Cypher Ltd. (12989167) is a UK based company that was created completely out of pocket by its founder (that's me). </p>
    <p>If you are interested in what we are seeking to create, we invite you to investigate more at some of the following places:
      <ul>
        <li>
          The primary home for all of our work:
          <a href="https://gitlab.com/deepcypher" rel="noopener">deepcypher gitlab</a>
        </li>
        <li>
          Our python based encrypted deep learning library:
          <a href="https://python-fhez.readthedocs.io" rel="noopener">python-fhez.readthedocs.io</a>
        </li>
        <li>
          The founders work on encrypted networks/ graphs (submitted to IEEE TPAMI but yet to be reviewed)
          <a href="https://arxiv.org/abs/2110.13638" rel="noopener">arxiv.org/abs/2110.13638</a>
        </li>
        <li>
          The founders work on encrypted deep learning as a service
          <a href="https://www.mdpi.com/2504-4990/3/4/41/html" rel="noopener">mdpi.com/2504-4990/3/4/41/html</a>
        </li>
        <li>
          Our soon to be developed go based encrypted deep learning library
          <a href="https://gitlab.com/deepcypher/darklantern" rel="noopener">gitlab.com/deepcypher/darklantern</a>
        </li>
      </ul>
    </p>
  </section>
  <footer>
    <div>
      <address>Written by: George Onoufriou</address>
      <address>Brought to you by: Deep Cypher Ltd. (12989167)</address>
      <address>Visit us at: <a href="https://deepcypher.me">www.DeepCypher.me</a></address>
    </div>
  </footer>
</article>
{{ end }}
