<!doctype html>
<html lang="en">
  <head>
    <title>DeepCypher About</title>
    <link rel="canonical" href="https://deepcypher.me/about" />
    <meta name="description" content="DeepCypher is a British open-source Fully Homomorphic Encryption (FHE) and Deep Learning (DL) service. DeepCypher processess wholy encrypted data.">
    {{template "header" .}}
  </head>
  <body>
    <main>
      {{template "about-dc" .}}
    </main>
    {{template "nav" .}}
  </body>
</html>
