<!doctype html>
<html lang="en">
  <head>
    <title>DeepCypher Docs</title>
    <link rel="canonical" href="https://deepcypher.me/docs" />
    <meta name="description" content="DeepCypher has many free and open-source software components, and thus many sets of documentation / docs which are all indexed here.">
    {{template "header" .}}
  </head>
  <body>
    <main>
      <article class="cardgrid">
        <h1>Documentation</h1>
        <p>Deep Cypher contributes open-source projects to the community for privacy preserving machine / deep learning, along with open-source infrastructure. This page indexes both the source and documentation of these projects.<br>
        Please note that these links will take you to various external servers, but they are all reputable. However we can make no privacy guarantees for these external sources.
        </p>

        <section>
          <a href="https://python-fhez.readthedocs.io" rel="noopener" class="docs">
            <div>
              <i class="fas fa-book"></i>
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>Python-FHEz</h3>
            <p>Python-based fully homomorphically encrypted deep learning</p>
          </div>
          <a href="https://gitlab.com/deepcypher/python-fhez" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DarkLantern</h3>
            <p>Go-based fully homomorphically encrypted deep learning</p>
          </div>
          <a href="https://gitlab.com/deepcypher/darklantern" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DockerIDE</h3>
            <p>Our custom dockerised NeoVim/ NvCHAD derivative IDE</p>
          </div>
          <a href="https://gitlab.com/deepcypher/dockeride" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DC-Ansible</h3>
            <p>Our Ansible automation for Archlinux-Kubernetes servers</p>
          </div>
          <a href="https://gitlab.com/deepcypher/dc-ansible" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DC-argo-app-of-apps</h3>
            <p>ArgoCD declarative (app-of-apps) Kubernetes GitOps</p>
          </div>
          <a href="https://gitlab.com/deepcypher/dc-argo-app-of-apps" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DC-helm</h3>
            <p>DeepCypher Kubernetes cluster components helm-chart</p>
          </div>
          <a href="https://gitlab.com/deepcypher/dc-helm" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DC-WebUI</h3>
            <p>DeepCyphers website frontend written in Go</p>
          </div>
          <a href="https://gitlab.com/deepcypher/dc-webui" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

        <section>
          <a href="#" rel="noopener" class="docs">
            <div>
              <i class="fas fa-hard-hat"></i>
              <!-- <i class="fas fa-book"></i> -->
              <span>Documentation</span>
            </div>
          </a>
          <div>
            <h3>DC-API</h3>
            <p>DeepCyphers REST API backend written in Go</p>
          </div>
          <a href="https://gitlab.com/deepcypher/dc-api" rel="noopener" class="src">
            <div>
              <i class="fas fa-code-branch"></i>
              <span>Source Code</span>
            </div>
          </a>
        </section>

      </article>
    </main>
    {{template "nav" .}}
  </body>
</html>
