<!doctype html>
<html lang="en">
  <head>
    <title>DeepCypher</title>
    <link rel="canonical" href="https://deepcypher.me/" />
    <meta name="description" content="DeepCypher or Deep Cypher is a British open-source Fully Homomorphic Encryption (FHE) and Deep Learning (DL) service, emphasising privacy and simplicity.">
    {{template "header" .}}
  </head>
  <body>
    <main>
      <div class="landing centre-vertical-horizontal"><img src="static/img/aurelia-aurita.svg" alt="Line-art Aurelia aurita the 'moon jellyfish' particularly focusing on its tendrils an vessels as networks towards inteligence. So much so that it is brain adjacent it style." class="landgo">
        <p class="text-centre centre-horizontal">Private, Minimal, and Kerckoffian.<br>Encrypted Deep Learning as a Service.</p></div>
    </main>
    {{template "nav" .}}
  </body>
</html>
