<!doctype html>
<html lang="en">
  <head>
    <title>DeepCypher Login</title>
    <link rel="canonical" href="https://deepcypher.me/login" />
    <meta name="description" content="Login to DeepCypher for open-source Fully Homomorphic Encryption (FHE) and Deep Learning (DL), data processing.">
    {{template "header" .}}
  </head>
  <body>
    <main>

      <div class="login-container">
        <form action="/login" method="post">
          <div class="field">
            <input id="email" type="email" name="email" class="input" placeholder="." required>
            <label for="email" class="label">
              <i class="fas fa-envelope"></i>
              Email:
            </label>
          </div>

          <div class="field">
            <input type="password" id="password" class="input" placeholder="." required>
            <label for="password" class="label">
              <i class="fas fa-lock"></i>
              Password:
            </label>
          </div>

          <input type="submit" value="Login *" class="submit">
          <p>* Please note: Login is by invitation only at this time while we build the service. Thank you for your patience.</p>
        </form>
      </div>

    </main>
    {{template "nav" .}}
  </body>
</html>

